<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
	  xmlns:gap="http://phonegap.com/ns/1.0" 
	  id="com.lordsofmathstheawakening.app" 
	  version="1" 
	  versionCode="1">
<name>LOM The Awakening</name> 
<description>Lords of maths the awakening is a game based on mathematics.</description> 
<author href="http://www.lordsofmaths.com" email="info@lordsofmaths.com">lordsofmaths</author>
<icon src="icon.png" />
<icon src="images/icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="images/icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="images/icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="images/icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
</widget>