<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.tgame.app" version="2013.02.19" versionCode="2013.02.19">
<name>A-tgame</name> 
<description>www.ozgurceuc.com app</description> 
<author href="http://www.tayangu.com" email="tgame@tayangu.com">mci
</author> 
</widget>