<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
	  xmlns:gap="http://phonegap.com/ns/1.0" 
	  id="com.tgame.app" 
	  version="2013.04.15" 
	  versionCode="2013.04.15">

<name>A Lords Of Maths</name> 
<description>www.ozgurceuc.com app</description> 
<author href="http://www.tayangu.com" email="tgame@tayangu.com">mci</author>

<gap:splash src="splash.png" width="310" height="114" />
<icon src="icon.png" />

<icon src="images/icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="images/icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="images/icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="images/icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />


</widget>